<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Uniandes Auto Wi-Fi</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="text-align: center">
<h1 style="font-size: 2.3em; font-weight: bold;" id="message">Iniciando <i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></h1>
<span><strong style="font-size: 1.5em;">Uniandes Auto Wi-Fi</strong><br><small>Creado por Diego Rodríguez B.</small></span>

</body>

<script>
  // You can also require other files to run in this process
  require('../js/index.js')
</script>
</html>
